/*

# BEM (BLOCK, ELEMENT, MODIFIER) METHEDOLOGY

<div class="card card--show">
  <div class="card__title"></div>
  <div class="card__container">

  </div>
</div>

.card - BLOCK

.card__title - ELEMENT

.card--show - MODIFIER

*/

/* RESET styles */
.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:390px;
	height:844px;
	position:absolute;
}
.e1_17 { 
	box-shadow:4px 4px 5px rgba(0, 0, 0, 0.25);
	transform: rotate(91.36836506338938deg);
	background-color:rgba(138.00000697374344, 236.00000113248825, 9.000000413507223, 0.800000011920929);
	width:291.32965087890625px;
	height:312.06414794921875px;
	position:absolute;
	left:506.93218994140625px;
	top:24.4521484375px;
	
}
.e7_3 { 
	box-shadow:4px 4px 5px rgba(0, 0, 0, 0.25);
	background-color:rgba(138.00000697374344, 236.00000113248825, 9.000000413507223, 1);
	width:224px;
	height:241px;
	position:absolute;
	left:-99px;
	top:661px;
}
.e7_2 { 
	box-shadow:4px 4px 5px rgba(0, 0, 0, 0.25);
	background-color:rgba(231.00000143051147, 89.00000229477882, 70.00000342726707, 1);
	width:336px;
	height:340px;
	position:absolute;
	left:-100px;
	top:-78px;
}
.e1_6 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:42px;
	position:absolute;
	left:38px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_7 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:42px;
	position:absolute;
	left:38px;
	top:266px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_9 { 
	color:rgba(0, 0, 0, 1);
	width:124px;
	height:41px;
	position:absolute;
	left:38px;
	top:449px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_14 { 
	color:rgba(0, 0, 0, 1);
	width:165px;
	height:41px;
	position:absolute;
	left:38px;
	top:540px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_11 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:42px;
	position:absolute;
	left:38px;
	top:357px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e1_4 { 
	color:rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
	width:298px;
	height:48px;
	position:absolute;
	left:46px;
	top:135px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e1_18 { 
	color:rgba(81.81249797344208, 81.81249797344208, 81.81249797344208, 1);
	width:193px;
	height:48px;
	position:absolute;
	left:79px;
	top:740px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e1_19 { 
	color:rgba(231.00000143051147, 89.00000229477882, 70.00000342726707, 1);
	width:38px;
	height:48px;
	position:absolute;
	left:270px;
	top:740px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e1_5 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:314px;
	height:49px;
	position:absolute;
	left:38px;
	top:217px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_8 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:314px;
	height:49px;
	position:absolute;
	left:38px;
	top:308px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_10 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:314px;
	height:50px;
	position:absolute;
	left:38px;
	top:399px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_12 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:314px;
	height:50px;
	position:absolute;
	left:38px;
	top:490px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_13 { 
	background-color:rgba(255, 246.0000005364418, 229.00000154972076, 1);
	width:314px;
	height:50px;
	position:absolute;
	left:38px;
	top:581px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_15 { 
	background-color:rgba(138.00000697374344, 236.00000113248825, 9.000000413507223, 1);
	width:230px;
	height:50px;
	position:absolute;
	left:80px;
	top:672px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e1_3 { 
	color:rgba(0, 0, 0, 1);
	width:318px;
	height:42px;
	position:absolute;
	left:36px;
	top:71px;
	font-family:Poppins;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.e1_16 { 
	color:rgba(255, 255, 255, 1);
	width:270px;
	height:41px;
	position:absolute;
	left:60px;
	top:677px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}