p1 {
    font-family: 'Poppins', sans-serif;
  }
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: #000000;



}
body{
    background-color: #FFF6E5;
}
.SideBarButton{
    background-color: #FFF6E5;
    font-size: 50px;
    border-radius: 10px;
    padding: 1px 15px;
    border: thin;
}
.relative {
    position: fixed;
    bottom: 30px;
    right: 30px;
    top: 10px;
}