
p1 {
    background-color: aquamarine;
    font-family: Arial;
  }
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px

}
.SideBarButton{
    background-color: white;
    font-size: 50px;
    border-radius: 10px;
    padding: 1px 15px;
}